@model BackendAssignment3.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>Student Information</h2>

<p>This is the Information of a individual student</p>


<div class="showcontainer">
    <nav>
        <a class="navlink" href="/Student/List">Back to Students list</a>
        <a class="dellink" href="/Student/DeleteConfirm/@Model.StudentId">Delete</a>
    </nav>
    <p>Student ID: @Model.StudentId</p>
    <h3>Name: @Model.StudentFname @Model.StudentLname</h3>
    <p>Student Number: @Model.StudentNumber</p>
    <p>Enroll Date: @Model.EnrollDate </p>
</div>
